# BASE DE DATOS (Neon.tech o PostgreSQL Local)
DATABASE_URL="postgresql://user:password@ep-xxxxx.neon.tech/factorcore?sslmode=require"

# AUTENTICACIÓN JWT
JWT_SECRET="factorcore_jwt_secret_super_secure_key_2026"
JWT_REFRESH_SECRET="factorcore_jwt_refresh_secret_key_2026"

# SERVIDOR Y CORS
PORT=3005
NODE_ENV="development" # Cambiar a "production" en Railway / Cloud
FRONTEND_URL="http://localhost:3001" # Cambiar a la URL de Vercel en producción
