# Base de Datos (PostgreSQL local via Docker o Neon)
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/factorcore?schema=public"
DATABASE_URL="postgresql://user:password@host:port/database?schema=public"

# Port on which the NestJS application runs locally
PORT=3000
